html {
  background-color: #fcbf53;
}
button {
  background-color: rgba(148, 32, 23, 1);
  margin: 2%;
  padding: 2%;
  width: 25%;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
}
.btn {
  background-color: rgba(148, 32, 23, 1);
  margin: 2%;
  padding: 2%;
  width: 25%;
  color: white;
  text-decoration: none;
  text-align: center;
}
