// Stefanos

.favoritedpage {
  width: 100%;
  background: url(../images/welcomepagebackground.png);
  background-size: contain;
  background-position: top;
  min-height: 100%;
  position: relative;
  padding-bottom: 48px;

  h1 {
    margin-top: 0;
    padding-top: 10%;
  }
}

.favoritedpage-empty {
  width: 100%;
  background: url(../images/welcomepagebackground.png);
  background-size: contain;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  position: relative;
  padding-bottom: 48px;
  .intet-gemt {
    width: 80%;
    margin: 0 auto;
  }
  h1 {
    margin-top: 0;
    padding-top: 10%;
  }
}