// Stefanos

.favoritedpage {
  width: 100%;
  background: url(../images/welcomepagebackground.png);
  background-size: contain;
  background-position: top;
  min-height: 100%;
  position: relative;
  padding-bottom: 48px;
}
