// Daníel, Mikkel

.onboarding {
  background-color: #98341f;
  height: 100vh;
  h1 {
    font-size: 3em;
    text-align: center;
  }
  .onboardinglogo {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  button {
    font-family: rustica, sans-serif;
    background-color: #fff;
    margin: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 33%;
    color: black;
    text-decoration: none;
    text-align: center;
    border: none;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: rustica, sans-serif;
    color: white;
  }
  input[type="text"],
  select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="password"],
  select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .userredirect {
    font-family: rustica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 2%;
    a {
      line-height: 1.2em;
      text-decoration: underline;
      color: white;
      font-size: 1.25em;
      margin-top: 2%;
    }
  }
}
