html {
  margin: 0;
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
}

h1 {
  font-family: rustica, sans-serif;
  color: white;
  text-align: center;
}

h2 {
  font-family: rustica, sans-serif;
  color: white;
  text-align: center;
}

h3 {
  font-family: rustica, sans-serif;
  color: white;
}

p {
  font-family: rustica, sans-serif;
  color: white;
}

button {
  background-color: #942017;
  margin: 2%;
  padding: 2%;
  width: 25%;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
}

.btn {
  background-color: #942017;
  font-family: rustica, sans-serif;
  margin: 2%;
  padding: 2%;
  width: 25%;
  color: white;
  text-decoration: none;
  text-align: center;
}

svg {
  margin-top: 2%;
  margin-left: 2%;
}

.welcomepage {
  width: 100%;
  height: 100%;
  background: url("../images/welcomepagebackground.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.welcomepage .welcomepagelogo {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.welcomepage .btn-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage {
  width: 100%;
  height: 100%;
  background: url(../images/homepagebackground.png);
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.homepage .munchologo {
  width: 75%;
  position: absolute;
  top: 25%;
  left: 10%;
}

.homepage button {
  width: 40%;
  font-size: 1.4em;
  position: absolute;
  left: 28%;
  top: 40%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.onboarding {
  background-color: #942017;
  height: 100vh;
}

.onboarding h1 {
  font-size: 3em;
  text-align: center;
}

.onboarding .onboardinglogo {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.onboarding button {
  font-family: rustica, sans-serif;
  background-color: #fff;
  margin: 2%;
  padding: 2%;
  width: 25%;
  color: black;
  text-decoration: none;
  text-align: center;
  border: none;
}

.onboarding form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: rustica, sans-serif;
  color: white;
}

.onboarding input[type="text"],
.onboarding select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onboarding input[type="password"],
.onboarding select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onboarding .userredirect {
  font-family: rustica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.onboarding .userredirect a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 2%;
}

.preferencepage {
  width: 100%;
  background: url(../images/preferencebackground.png);
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.preferencepage h2 {
  font-weight: lighter;
  text-align: center;
}

.preferencepage .preference-center {
  position: absolute;
  top: 20%;
  width: 100%;
}

.preferencepage .preferenceform {
  display: table;
  margin: 0 auto;
}

.preferencepage .radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: rustica, sans-serif;
  font-size: 2em;
}

.preferencepage label {
  margin: 0 auto;
  width: 100%;
}

.preferencepage input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: baseline;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

.preferencepage input[type="radio"]:checked {
  background-color: #fff;
}

.preferencepage button {
  display: block;
  margin: 10% auto;
  padding: 2% 15% 2% 15%;
  width: inherit;
}

.resultspage {
  width: 100%;
  background: url(../images/welcomepagebackground.png);
  background-size: contain;
  background-position: top;
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.resultspage .searchbar-container {
  text-align: center;
}

.resultspage .searchbar {
  font-family: rustica, sans-serif;
  margin: 0 auto;
}

.restaurantpage {
  width: 100%;
  height: 100%;
  background: url("../images/restaurantbackground.png");
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  position: relative;
  padding-bottom: 65px;
  overflow: scroll;
}

.restaurantpage .restaurantimage {
  height: 10vh;
}

.restaurantpage .allinfo {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.restaurantpage .allinfo .infotext {
  text-align: left;
}

.restaurantpage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurantpage h1 {
  text-align: center;
  margin-bottom: 0;
}

.restaurantpage p {
  line-height: 1.4em;
}

.ResultCard {
  background: rgba(0, 0, 0, 0.75);
}

.ResultCard h2 {
  font-size: 2em;
  text-align: center;
}

.ResultCard p {
  margin: 0.25em;
  text-align: center;
}

.ResultCard .restaurantimage {
  height: 20vh;
  width: 90%;
}

.ResultCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.ResultCard .btnandimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: #942017;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar img {
  width: 30px;
  height: 30px;
}

.navbar a {
  width: 100%;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 1%;
}

.navbar .active {
  background-color: #b86433;
  padding-top: 2.5%;
  padding-bottom: 1%;
}

.navbar div {
  width: 100%;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 1%;
}
/*# sourceMappingURL=style.css.map */