html {
  margin: 0;
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
}

h1 {
  font-family: rustica, sans-serif;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 2em;
}

h2 {
  font-family: rustica, sans-serif;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 1.6em;
}

h3 {
  font-family: rustica, sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1em;
}

p {
  font-family: rustica, sans-serif;
  color: white;
}

button {
  background-color: #98341f;
  margin: 2%;
  padding: 2%;
  width: 25%;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 12px;
}

.btn {
  background-color: #98341f;
  font-family: rustica, sans-serif;
  margin: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 33%;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
}

.backarrow {
  position: fixed;
  top: 1%;
  left: 1.75%;
}

svg {
  margin-top: 3%;
  margin-left: 2%;
}

.mobileapp h3 {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobileapp {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 100;
  }
  .mobileapp h3 {
    display: block;
  }
}

.welcomepage {
  width: 100%;
  height: 100%;
  background: url("../images/welcomepagebackground.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.welcomepage .welcomepagelogo {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 18%;
}

.welcomepage .btn-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcomepage img {
  width: 8%;
  height: auto;
  margin-top: 2.5%;
}

.homepage {
  width: 100%;
  height: 100%;
  background: url(../images/homepagebackground.png);
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.homepage .munchologo {
  width: 75%;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 1;
}

.homepage button {
  width: 40%;
  font-size: 1.4em;
  position: absolute;
  left: 28%;
  top: 31%;
  padding-top: 3%;
  padding-bottom: 3%;
  z-index: 1;
}

.homepage .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 28vh;
}

.homepage .articles .article {
  width: 50%;
}

.homepage .articles img {
  width: 100%;
}

.homepage .articles h3 {
  width: 40%;
}

.homepage .articles .firstarticleheadline {
  position: absolute;
  top: 28%;
  left: 5%;
}

.homepage .articles .secondarticleheadline {
  position: absolute;
  top: 28%;
  right: 5%;
}

.onboarding {
  background-color: #98341f;
  height: 100vh;
}

.onboarding h1 {
  font-size: 3em;
  text-align: center;
}

.onboarding .onboardinglogo {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.onboarding button {
  font-family: rustica, sans-serif;
  background-color: #fff;
  margin: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 33%;
  color: black;
  text-decoration: none;
  text-align: center;
  border: none;
}

.onboarding form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: rustica, sans-serif;
  color: white;
}

.onboarding input[type="text"],
.onboarding select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onboarding input[type="password"],
.onboarding select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onboarding .userredirect {
  font-family: rustica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 2%;
}

.onboarding .userredirect a {
  line-height: 1.2em;
  text-decoration: underline;
  color: white;
  font-size: 1.25em;
  margin-top: 2%;
}

.preferencepage {
  width: 100%;
  background: url(../images/preferencebackground.png);
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.preferencepage h1 {
  font-weight: lighter;
  text-align: center;
  margin: 0 auto;
}

.preferencepage .preference-center {
  position: absolute;
  top: 28%;
  width: 100%;
  padding-bottom: 10%;
}

.preferencepage .preferenceform {
  display: table;
  margin: 0 auto;
}

.preferencepage .radio-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: rustica, sans-serif;
  font-size: 1.6em;
  margin-top: 15%;
}

.preferencepage label {
  color: #fff;
  width: 100%;
}

.preferencepage input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: baseline;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

.preferencepage input[type="radio"]:checked {
  background-color: #fff;
}

.preferencepage button {
  display: block;
  margin: 15% auto;
  padding-top: 6.8%;
  padding-bottom: 6.8%;
  font-size: 1.4em;
  width: 91.2%;
}

.resultspage {
  width: 100%;
  background: url(../images/welcomepagebackground.png);
  background-size: contain;
  background-position: top;
  min-height: 100%;
  position: relative;
  padding-bottom: 48px;
}

.resultspage .searchbar-container {
  text-align: center;
}

.resultspage .searchbar {
  font-family: rustica, sans-serif;
  margin: 0 auto;
}

.restaurantpage {
  width: 100%;
  height: 100%;
  background: url("../images/restaurantbackground.png");
  background-size: cover;
  background-position: top;
  background-repeat: repeat-x;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.restaurantpage .restaurantbackground {
  background: rgba(0, 0, 0, 0.75);
}

.restaurantpage .restaurantimage {
  height: 10vh;
}

.restaurantpage .allinfo {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.restaurantpage .infotext {
  text-align: left;
  margin-bottom: 10%;
}

.restaurantpage .infobox {
  margin-top: 12%;
  padding-bottom: 70px;
}

.restaurantpage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurantpage h1 {
  text-align: center;
  margin-bottom: 0;
}

.restaurantpage h3 {
  text-decoration: underline;
  font-size: 1.4em;
}

.restaurantpage p {
  line-height: 1.4em;
}

.restaurantpage a {
  background-color: #98341f;
  font-family: rustica, sans-serif;
  padding: 4% 10% 4% 10%;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
}

.restaurantpage .currentday {
  font-weight: bold;
  font-size: 1.25em;
}

.favoritedpage {
  width: 100%;
  background: url(../images/welcomepagebackground.png);
  background-size: contain;
  background-position: top;
  min-height: 100%;
  position: relative;
  padding-bottom: 48px;
}

.favoritedpage h1 {
  margin-top: 0;
  padding-top: 10%;
}

.favoritedpage-empty {
  width: 100%;
  background: url(../images/welcomepagebackground.png);
  background-size: contain;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  position: relative;
  padding-bottom: 48px;
}

.favoritedpage-empty .intet-gemt {
  width: 80%;
  margin: 0 auto;
}

.favoritedpage-empty h1 {
  margin-top: 0;
  padding-top: 10%;
}

.aboutpage {
  background-image: url(../images/welcomepagebackground.png);
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  padding-top: 25%;
}

.aboutpage .about-section {
  background: rgba(0, 0, 0, 0.75);
  padding-bottom: 4%;
}

.aboutpage h1 {
  padding-top: 4%;
  margin-top: 0;
  margin-bottom: 2%;
}

.aboutpage .about-text {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.aboutpage p {
  line-height: 1.6em;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}

.aboutpage button {
  display: block;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-size: 1.2em;
  width: 33%;
  margin: 0 auto;
}

.aboutpage .last-text {
  margin-bottom: 4%;
}

.articlepage {
  padding-bottom: 60px;
  background-color: #98341f;
}

.articlepage .restaurantimage {
  height: 20vh;
  width: 90%;
  margin: 0 auto;
}

.articlepage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.articlepage h1 {
  margin-top: 0;
  padding-top: 8%;
}

.articlepage h2 {
  text-decoration: underline;
  margin-bottom: 1%;
  margin-top: 5%;
  border-top: solid #fff 1px;
  padding-top: 6%;
}

.articlepage h3 {
  text-align: center;
  font-size: 2em;
  margin-top: 6%;
  margin-bottom: 2.5%;
}

.articlepage p {
  width: 75%;
  font-size: 1.25em;
  margin: 6% auto;
  line-height: 1.4em;
}

.ResultCard {
  background: rgba(0, 0, 0, 0.75);
  border-bottom: solid #98341f 1px;
}

.ResultCard h2 {
  font-size: 2em;
  text-align: center;
  padding-top: 3.3%;
  padding-bottom: 2%;
  margin-top: 12.5%;
  margin-bottom: 0;
  border-top: solid #98341f 1px;
  font-weight: lighter;
}

.ResultCard p {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ResultCard .restaurantimage {
  height: 20vh;
  width: 90%;
  margin: 0 auto;
}

.ResultCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.ResultCard .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 2%;
}

.ResultCard .btnandimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.ResultCard svg {
  margin: 0;
}

.ResultCard .heart-button {
  color: #fff;
  font-size: 1.5em;
  font-family: rustica, sans-serif;
  background-color: transparent;
  border-radius: 24px;
  padding: 0.333em 1em 0.25em;
  margin: 0;
  cursor: pointer;
  -webkit-transition: color 150ms ease-in-out, background-color 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  outline: 0;
}

.ResultCard .heart-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.ResultCard .heart-button.selected {
  color: #98341f;
  border-color: white;
}

.ResultCard .heart-button .heart-icon {
  display: inline-block;
  fill: currentColor;
  width: 0.8em;
  height: 0.8em;
}

.navbar {
  background-color: #98341f;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid #000 2px;
}

.navbar img {
  width: 30px;
  height: 30px;
}

.navbar a {
  width: 100%;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 1%;
}

.navbar .active {
  background-color: #b86433;
  padding-top: 2.5%;
  padding-bottom: 1%;
}

.navbar div {
  width: 100%;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 1%;
}
/*# sourceMappingURL=style.css.map */